$menu-bg: rgba(165, 165, 165, 1);
$contact-bg: rgba(241, 225, 207, 1);
$silver: rgba(232, 232, 232, 1);
$white: rgba(255, 255, 255, 1);
$black: rgba(128, 128, 128, 1);
$group: rgba(242, 242, 242, 1);
$red: rgba(255, 38, 38, 1);
$desc:rgba(91, 91, 91, 1);
$footer: rgba(60, 60, 60, 1);
$slider:rgba(235, 235, 235, 1);
$btn: rgba(88, 88, 88, 1);
$prod-btn: rgba(153, 153, 153, 1);
$delete: rgba(234, 14, 14, 1);
;
