@media screen and (max-width: 2560px) {
    .container{
        width: 1025px;
    }
    .features{
        .burger img{
            width: 40px;
            height: 24px;
        }        
    }
    .cards{
        display: none;
    }
    .categories{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 1441px) {
    .container{
        width: 1025px;
    }
    .features{
        .burger img{
            width: 40px;
            height: 24px;
        }        
    }
    .cards{
        display: none;
    }
    .categories{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 1440px) {
    .container{
        width: 1025px;
    }
    .features{
        .burger img{
            width: 40px;
            height: 24px;
        }        
    }
    .cards{
        display: none;
    }
    .categories{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1024px) {
    .container{
        width: 769px;
    }
    .features{
        .burger img{
            width: 40px;
            height: 24px;
        }        
    }
}

// TABLET
@media screen and (max-width: 768px) {
    .container{
        width: 426px;
    }
    .categories{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

// ----------MOBILE
@media screen and (max-width: 425px) {
    .container{
        width: 375px;
    }
    .active-cat{
        font-size: 14px;
        font-weight: 700;
    }
    
    .cards{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    .slider{
        display: none;
    }
    .categories{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}