
// TABLET
@media screen and (max-width: 768px) {
    .cabinet{
        margin-top: 50px;
        margin-left: 0;
        margin-right: 0;
    }
    .cab-item{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-between;  
        align-items: center;  
        margin: 0 auto;
        img{
            width: 100%;
        }
    }
    .delete-btn{
        margin-top: 30px;
    }
}