.prod-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 20px;
    .prod-item{
        margin: auto;   
        img{
            border-radius: 8px;
        }
    }
    .prod-img{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        height: 75px;
        gap: 10px;
        img{
            border-radius: 4px;
            width: 100%;
            height: 100%;
        }
        .prod-btn{
            background-color: $prod-btn;
            color: $white;
            font-size: 24px;
            outline: none;
        }
    }
    .prod-item{
        .prod-caption{
            display: grid;
            grid-template-columns: 1fr;
            margin-top: 10px;
            margin-left: 25px;
            margin-right: 25px;
            .prod-name{
                font-family: 'Comfortaa', cursive;
                font-size: 20px;
                margin-top: 10px;
                margin-bottom: 20px;
            }
            .prod-brand{
                margin-top: 15px;
                margin-bottom: 35px;
            }
            .prod-price{
                margin-bottom: 20px;
            }
        }
    }
}