@import "colors";
@import "index";
@import "media-index";
@import "categories";
@import "media-categories";
@import "prod-page";
@import "media-prod-page";
@import "about";
@import "media-about";

*{
    box-sizing: border-box;
    a{
        text-decoration: none;
        color: black;
    }
    ul{
        list-style: none;
    }
}

.container{
    margin: 0 auto;
    font-family: "Roboto";
}